src
out
out/test
dist/test
prettier.config.js
webpack.config.js
.vscode
.vscode-test
.gitignore
vsc-extension-quickstart.md
**/tsconfig.json
**/tslint.json
**/*.map
**/*.ts
.sidenotes/**
.github/**
.eslintignore
.gitattributes
.editorconfig
images/gif
